@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Pixelify Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #1b436c;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}